#clima{
    text-align: center;
}

h1{
    text-align: center;
}

.titulo{
    background-color: blue;
    text-align: center;
}

.seccion1{
    text-align: center;
}

.seccion2{
    text-align: center;
}

.seccion2 h3{
    background-color: blue;
}

.mi_reserva{
    background-color: blue;
}




